<% content_for :navigation do %>
<a class="nav-link" href="/">Home</a>
<a class="nav-link active" href="/contact">Contact Us</a>
<% end %>

<div class="row">
  <div class="card">
    <iframe
      allowfullscreen
      frameborder="0"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.3737071195765!2d106.7022000142252!3d10.78266316202837!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f49428d4f6b%3A0xe4a9d5e82a7c2ccd!2sDreamplex+Project+-+A+beautiful+designed+coworking+space+in+HCMC+Vietnam!5e0!3m2!1sen!2s!4v1449374865027"
      style="border:0"
      width="620"
      height="200"></iframe>
    <div class="card-block">
      <address class="card-text">
        <strong>Restaurant</strong><br>
        21 Nguyen Trung Ngan Street,<br>
        District 1, Ho Chi Minh City, Vietnam<br>
        <span>Phone:</span>(+84) 123 456 7890
      </address>
    </div>
  </div>
</div>
